@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black/90;
  }
}

@layer components {
  .btn-blue {
    @apply rounded-md bg-blue-500 px-2 pb-1 pt-2 text-white transition-all hover:bg-blue-600;
  }
  .btn-yellow {
    @apply rounded-md bg-yellow-500 px-2 pb-1 pt-2 text-white transition-all hover:bg-yellow-600;
  }
  .btn-red {
    @apply rounded-md bg-red-500 px-2 pb-1 pt-2 text-white transition-all hover:bg-red-600;
  }
}

@font-face {
  font-family: "Avenir";
  src: url("~/assets/AvenirLTStd-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
